The most commentable articles
<%- if @commentable_articles.exists? %>
  <div class="commentable_articles">
    <%= link_to 'Article1', '#' %>
    <%= link_to 'Article1', '#' %>
    <%= link_to 'Article1', '#' %>
    <%= link_to 'Article1', '#' %>
    <%= link_to 'Article1', '#' %>
    <%= link_to 'Article1', '#' %>
    <%= link_to 'Article1', '#' %>
  </div>
<% end %>
