<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="header_content">
        <%= link_to '/', class: 'logo' do %>
          <div class="logo_content">{MY_BLOG}</div>
        <% end %>
        <nav>
          <%= link_to 'Articles','/' %>
          <%= link_to 'About', about_path %>
          <%= link_to 'javascript:void(0)', class: 'js_show_subscribe_form' do %>
            <i class="icon-forward"></i> <span class="i-name">Subscribe</span>
          <% end %>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="footer_content">
        &copy;
        <%= Time.zone.now.year %>
        Home Production
      </div>
    </footer>
  </div>

  <div id="dialog-form" title="Create new subscription clearfix">
    <p class="validateTips">Please, set your e-mail</p>

    <form>
      <fieldset>
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
    <a href="#" class="js_add_subscriber subscribe_button">Subscribe</a>
    <a href="#" class="js_close_dialog cancel_button">Cancel</a>
    <div class="clearfix"></div>
  </div>

</body>
</html>
