<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>
      <%= link_to '/', class: 'logo' do %>
        <div class="logo_content">MY_BLOG</div>
      <% end %>

    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      I'm a 30px tall footer
    </footer>
  </div>
</body>
</html>
